{% extends "base.html" %}
{% block content %}


    <h2>{{ page_title }}</h2>
    <p>
        Welcome to my site. Enjoy your stay and learn more about what we've got going on here!
    </p>

    {% for member in company %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>
                        {{ member.description }}
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source}}" alt="" class="featurette-image image-responsive">
                </div>

            {% else %}    

                <div class="col-md-5">
                    <img src="{{ member.image_source}}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>
                        {{ member.description }}
                    </p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}
